<mat-toolbar>
    <mat-back-button></mat-back-button>

    <mat-label class="spacer">
        {{ device.description }}
    </mat-label>
</mat-toolbar>

<mat-content>
    <div class="inputs-container">
        <div class="inputs" *ngFor="let input of device.io">
            <div class="input-description">
                {{ input.description }}     
            </div>
    
            <div class="input-value">
                {{ input.value }}
            </div>
        </div>
    </div>
</mat-content>