<mat-toolbar>
    <mat-back-button></mat-back-button>

    <mat-label class="spacer">
        {{ device.description }}
    </mat-label>

    <span class="last-connection">
        {{ device.lastConnection ? (device.lastConnection | date : 'yyyy/MM/dd HH:mm:ss') : 'not connected!' }}
    </span>

    <mat-icon [class.isConnected]="device.isConnected">
        wifi
    </mat-icon>
</mat-toolbar>

<mat-content>
    <div class="inputs-container">
        <div class="inputs" *ngFor="let input of device.io">
            <div class="input-description">
                {{ input.description }} ({{ input.register }}) {{ (input.masking.enabled) ? '(bit: ' + input.masking.bit + ')' : ''}}
            </div>
    
            <div class="input-value">
                {{ input.value }}
            </div>
        </div>
    </div>
</mat-content>