.add {
    margin: 8px auto;
}
.mat-column-publish-bit,
.mat-column-publish-key,
.mat-column-publish-enabled,
.mat-column-publish-moduleId {
    background-color: #fff;
}
.mat-column-masking-enabled,
.mat-column-publish-enabled {
    border-left: 1px dashed #e0e0e0;
    padding-left: 8px;
}
td mat-icon {
    margin-top: 4px;
}