<mat-toolbar>
    <mat-menu-button></mat-menu-button>
    
    <mat-label class="spacer">
        Devices
    </mat-label>

    <button mat-icon-button routerLink="editor" [queryParams]="{mode: 'add'}">
        <mat-icon svgIcon="add"></mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content>
    <table mat-table [dataSource]="table" matSort>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.description }}
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Type
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.type == 'modbus' ? 'Modbus' : '' }}
                {{ element.type == 'external' ? 'External' : '' }}
                {{ element.type == 'programmable-logic-controller' ? 'Programmable Logic Controller' : '' }}
                {{ element.type == 'kGateway' ? 'KGateway Bluetooth Reader' : '' }}
                {{ element.type == 'hostAgent' ? 'Host Agent' : '' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="lastConnection">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Last Connection
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.lastConnection ? (element.lastConnection | date : 'yyyy/MM/dd HH:mm:ss') : 'not connected!' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="isConnected">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element">
                <mat-icon svgIcon="wifi" [class.isConnected]="element.isConnected"></mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="publish">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-icon svgIcon="file_upload" [class.enabled]="element.publish" [matTooltip]="element.publish ? 'Publishing is enabled' : 'Publishing is disabled'"></mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-icon svgIcon="file_download" [class.enabled]="element.enabled" [matTooltip]="element.enabled ? 'Device is enabled' : 'Device is disabled'"></mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" (click)="options(row)"></tr>
    </table>
</mat-content>