<mat-toolbar>
    <mat-label class="spacer">
        Input Output Editor
    </mat-label>

    <button mat-icon-button (click)="close()">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</mat-toolbar>

<mat-content>
    <form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                Description
            </mat-label>

            <input matInput type="text" placeholder="description" formControlName="description" required>

            <mat-error *ngIf="errors.description">
                {{ errors.description }}
            </mat-error>
        </mat-form-field>

        <h2>
            Publish
        </h2>

        <section formGroupName="publish">
            <mat-form-field appearance="outline">
                <mat-label>
                    Enabled
                </mat-label>
    
                <mat-select placeholder="enabled" formControlName="enabled" required>
                    <mat-option [value]="true">
                        Yes
                    </mat-option>
                    <mat-option [value]="false">
                        No
                    </mat-option>
                </mat-select>
    
                <mat-error *ngIf="errors.publish.enabled">
                    {{ errors.publish.enabled }}
                </mat-error>
            </mat-form-field>
        </section>

        <section formGroupName="publish">
            <mat-form-field appearance="outline">
                <mat-label>
                    Module ID
                </mat-label>
    
                <input matInput type="number" min="0" placeholder="moduleId" formControlName="moduleId" [required]="type == 'external'">
    
                <mat-error *ngIf="errors.publish.moduleId">
                    {{ errors.publish.moduleId }}
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>
                    Key
                </mat-label>
    
                <mat-select placeholder="key" formControlName="key" [required]="type == 'external'">
                    <mat-option *ngFor="let key of keys" [value]="key">
                        {{ key }}
                    </mat-option>
                </mat-select>
    
                <mat-error *ngIf="errors.publish.key">
                    {{ errors.publish.key }}
                </mat-error>
            </mat-form-field>
        </section>

        <section formGroupName="publish" *ngIf="form.value.publish.key == 'digitalsIn'">
            <mat-form-field appearance="outline">
                <mat-label>
                    Bit
                </mat-label>
    
                <input matInput type="number" min="0" placeholder="bit" formControlName="bit" [required]="type == 'external' || form.value.publish.key == 'digitalsIn'">
    
                <mat-error *ngIf="errors.publish.bit">
                    {{ errors.publish.bit }}
                </mat-error>
            </mat-form-field>
        </section>

        <h2 *ngIf="type == 'modbus'">
            Modbus
        </h2>

        <mat-form-field appearance="outline" *ngIf="type == 'modbus'">
            <mat-label>
                Register
            </mat-label>

            <input matInput type="number" min="0" placeholder="register" formControlName="register" [required]="type == 'modbus'">

            <mat-error *ngIf="errors.register">
                {{ errors.register }}
            </mat-error>
        </mat-form-field>

        <h2 *ngIf="type == 'external'">
            External
        </h2>
        
        <section *ngIf="type == 'external'">
            <mat-form-field appearance="outline">
                <mat-label>
                    Module ID
                </mat-label>
    
                <input matInput type="number" min="0" placeholder="moduleId" formControlName="moduleId" [required]="type == 'external'">
    
                <mat-error *ngIf="errors.moduleId">
                    {{ errors.moduleId }}
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>
                    Key
                </mat-label>
    
                <mat-select placeholder="key" formControlName="key" [required]="type == 'external'">
                    <mat-option *ngFor="let key of keys" [value]="key">
                        {{ key }}
                    </mat-option>
                </mat-select>
    
                <mat-error *ngIf="errors.key">
                    {{ errors.key }}
                </mat-error>
            </mat-form-field>
        </section>

        <h2 *ngIf="type == 'programmable-logic-controller'">
            Programmable Logic Controller
        </h2>

        <section *ngIf="type == 'programmable-logic-controller'">
            <mat-form-field appearance="outline">
                <mat-label>
                    Readable
                </mat-label>
    
                <mat-select placeholder="readable" formControlName="readable" [required]="type == 'programmable-logic-controller'">
                    <mat-option [value]="true">
                        Enabled
                    </mat-option>
                    <mat-option [value]="false">
                        Disabled
                    </mat-option>
                </mat-select>
    
                <mat-error *ngIf="errors.readable">
                    {{ errors.readable }}
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>
                    Writeable
                </mat-label>
    
                <mat-select placeholder="writeable" formControlName="writeable" [required]="type == 'programmable-logic-controller'">
                    <mat-option [value]="true">
                        Enabled
                    </mat-option>
                    <mat-option [value]="false">
                        Disabled
                    </mat-option>
                </mat-select>
    
                <mat-error *ngIf="errors.writeable">
                    {{ errors.writeable }}
                </mat-error>
            </mat-form-field>
        </section>

        <mat-form-field appearance="outline" *ngIf="type == 'programmable-logic-controller'">
            <mat-label>
                Tag ID
            </mat-label>

            <input matInput type="text" placeholder="tagId" formControlName="tagId" [required]="type == 'programmable-logic-controller'">

            <mat-error *ngIf="errors.tagId">
                {{ errors.tagId }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="type == 'programmable-logic-controller'">
            <mat-label>
                Data Type
            </mat-label>

            <mat-select placeholder="data type" formControlName="interface" [required]="type == 'programmable-logic-controller'">
                <mat-option *ngFor="let o of interfaces" [value]="o">
                    {{ o }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.interface">
                {{ errors.interface }}
            </mat-error>
        </mat-form-field>

        <button #button type="submit" style="display: none;"></button>
    </form>
</mat-content>

<mat-footer>
    <button type="button" color="primary" mat-flat-button (click)="button.click()">
        submit
    </button>
</mat-footer>